<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React With Material</title>
    <script src="vendors/react/react.js"></script>
    <script src="vendors/react/JSXTransformer.js"></script>
    <script src="vendors/react/marked.min.js"></script>
    <script src="vendors/jquery/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="vendors/material/mui.min.css">
    <script src="vendors/material/mui-react.js"></script>
    <script type="text/jsx" src="js/app.js" ></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="testApp"></div>
    <div id="content"></div>
    <script type="text/jsx">
      // var data = [
      //   {author: "Pete Hunt", text: "This is one comment"},
      //   {author: "Jordan Walke", text: "This is *another* comment"}
      // ];
      var Comment = React.createClass({
        render: function() {
          var rawMarkup = marked(this.props.children.toString(), {sanitize: true});
          return (
            <div className="comment">
            <div className="mui-text-title mui-text-black">
            {this.props.author}
            </div>
            <span className="mui-text-body1 mui-text-black" dangerouslySetInnerHTML={{__html: rawMarkup}} />
            </div>
          );
        }
      });
      var CommentList = React.createClass({
        render: function() {
          var txt=this.props.filterText;
          var commentNodes = this.props.data.map(function (comment) {
            var str=comment.author;
            str=str.toLowerCase();
            txt=txt.toLowerCase();
            if(str.indexOf(txt) !=-1){
                return (
                  <Comment author={comment.author}>
                  {comment.text}
                  </Comment>
                );
              }
              else{
                return;
              }
          });
          return (
            <div className="commentList">
            {commentNodes}
            </div>
          );
        }
      });

      var CommentForm = React.createClass({
        handleSubmit: function(e) {
          e.preventDefault();
          var author = React.findDOMNode(this.refs.author).value.trim();
          var text = React.findDOMNode(this.refs.text).value.trim();
          if (!text || !author) {
            return;
          }
          this.props.onCommentSubmit({author: author, text: text});
          React.findDOMNode(this.refs.author).value = '';
          React.findDOMNode(this.refs.text).value = '';
          return;
        },
        render: function() {
          return (

            <form className="commentForm" onSubmit={this.handleSubmit}>
            <div className="mui-form-group">
            <input type="text" ref="author" className="mui-form-control"/>
            <label className="mui-form-floating-label">Your name</label>
            </div>
            <div className="mui-form-group">
            <textarea className="mui-form-control" ref="text"></textarea>
            <label className="mui-form-floating-label">Say something...</label>
            </div>
            <input type="submit" className="mui-btn" data-mui-style="raised" value="Post" />
            </form>
          );
        }
      });
      var SearchBar = React.createClass({
        handleChange: function() {
          this.props.onUserInput(
            this.refs.filterTextInput.getDOMNode().value
          );
        },
        render: function() {
          return (
                  <form className="SearchBar">
                  <div className="mui-form-group">
                      <input type="text" className="mui-form-control" value={this.props.filterText}
                      ref="filterTextInput" onChange={this.handleChange} />
                      <label className="mui-form-floating-label">Search...</label>
                      </div>
                  </form>
                );
              }
          });
      var CommentBox = React.createClass({
        loadCommentsFromServer: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            cache: false,
            success: function(data) {
              this.setState({data: data});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        handleCommentSubmit: function(comment) {
          var comments = this.state.data;
          var newComments = comments.concat([comment]);
          console.log(newComments)
          this.setState({data: newComments});
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            type: 'POST',
            data: comment,
            success: function(data) {
              this.setState({data: newComments});
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        handleUserInput: function(filterText) {
          this.setState({
              filterText: filterText
            });
          },
        getInitialState: function() {
          return {data: [], filterText: ''};
        },
        componentDidMount: function() {
          this.loadCommentsFromServer();
        //  setInterval(this.loadCommentsFromServer, this.props.pollInterval);
        },
        render: function() {
          return (
            <div className="commentBox">
            <h1>Comments</h1>
            <SearchBar filterText={this.state.filterText} onUserInput={this.handleUserInput} />
            <CommentList data={this.state.data}
               filterText={this.state.filterText}
            />
            <CommentForm onCommentSubmit={this.handleCommentSubmit} />
            </div>
          );
        }
      });

      React.render(
        // <CommentBox data={data} />,
        <CommentBox url="json/comment.json" pollInterval={5000} />,
        document.getElementById('content')
      );
</script>
  </body>
</html>
